<html>
    <head>
        <title>Django </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</h1>
        </div>

        <div>
            <p>published: 6.06.2018, 12:14</p>
            <h2><a href="">Pierwszy post</a></h2>
            <p>asdasdsadasdsadsasdsadssadsadsadadasd</p>
        </div>

        <div>
            <p>published: 6.06.2018, 12:14</p>
            <h2><a href="">Drugi post</a></h2>
            <p>adsadadasdsaddadassasadsadssaddasdsadsassdasdasdasadasdasdasd</p>
        </div>
    </body>
</html>
